<h1>GPT single message</h1>
<form action="/response" method="post">
  <label for="user_message">
      Your message:
  </label>

  <input id="user_message" type="text" name="the_message">
  <button>
    Submit!
  </button>
</form>
