<h1>Should I take my umbrella?</h1>
<form action="/umbrella">
  <div>
    <label for="user_location">
      Where are you located?
    </label>

    <input id="user_location" type="text" name="user_local" placeholder="E.g. 1.5">
  </div>

  <button>
    Submit
  </button>
</form>
