<h1>Should I take my umbrella?</h1>
<form action="/umbrella_result" method="post">
  <label for="user_location">
      Where are you located?
  </label>

  <input id="user_location" type="text" name="user_local">
  <button>
    Submit
  </button>
</form>
